.postBox {
    background-color: var(--gray-800);
    padding: 2.4rem;
    border-radius: 8px;
}

.postBox + .postBox {
    margin-top: 2rem;
}

.infos p{
    line-height: 1.6;
    margin: 1.6rem 1rem 0 0;
    color: var(--gray-300);
    font-size: 1.01rem;
}

.infos a {
    margin-top: 2rem;
    color: var(--green-500);
    text-decoration: none;
    font-weight: bold;
}

.link:hover {
    color: var(--green-300);
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.author {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.head {
    display: flex;
    flex-direction: column;
    gap: 0.32rem;
}

.head span {
    letter-spacing: 1px;
    color: var(--gray-400);
}

.head strong {
    color: var(--gray-100);
}

.hero time {
    color: var(--gray-400);
}

.formComment {
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    border-top: 1px solid var(--gray-600);
    gap: 1rem;
}

.comment {
    background-color: var(--gray-900);
    outline: none;
    resize: none;
    border: 1px solid var(--gray-900);
    border-radius: 8px;
    padding: .60rem;
    color: var(--gray-100);
    line-height: 1.2 ;
}

.comment:focus{
    border: 1px solid var(--green-500);
}

.formComment p {
    margin-top: 1.6rem;
    color: var(--gray-100);
}

.formComment footer {
    visibility: hidden;
    max-height: 0;
}

.formComment:focus-within footer {
    visibility: visible;
    max-height: none;
}

.formComment button {
    width: fit-content;
    padding: .90rem 2rem;
    border-radius: 8px;
    background-color: var(--green-500);
    color: var(--gray-100);
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s linear;
}

.formComment button:not(:disabled):hover{
    background-color: var(--green-300);
}

.formComment button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.commentList {
    margin-top: 1.6rem;
}